[Unit]
Description=Webpage displaying MQTT messages
After=syslog.target network.target

[Service]
ExecStart=/home/pi/bitraf-iot/msg-server/tv.py    

[Install]
WantedBy=network.target

