[Service]
WorkingDirectory=@PROJECTDIR@
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo --graph graphs/doorsystem.fbp --broker mqtt://@BROKER@
Restart=always
User=www-data
Environment="PATH=@PROJECTDIR@/node_modules/.bin DEBUG=msgflo*"

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
