[Service]
WorkingDirectory=@PROJECTDIR@
ExecStart=/usr/bin/node ./node_modules/.bin/msgflo --graph graphs/main.json --wait-timeout 300 --ignore 2floor --ignore 4floor --ignore frontdoor --ping-interval 60 --componentdir components --runtime-id d713b8e8-cb3b-430a-b4c5-de651a8b6db2 --broker mqtt://@BROKER@
Restart=always
RestartSec=3
User=msgflo
Environment=PATH=@PROJECTDIR@/node_modules/.bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin DEBUG=msgflo*

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
