[Service]
ExecStart=/usr/local/bin/bitraf-tv-showmessage
WorkingDirectory=/
Restart=always
User=pi
Environment="BROKER=@BROKER@"

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
